- var pageTitle = "City Park"
- var site = "Miguel Rivas"
- var fbPreview = "https://miguel-rivas.github.io/img/portfolio.png"
- var icoPath = "https://miguel-rivas.github.io/img/favicon.png"
- var icoBackground = "#222"
- var description = "City Park // Home"
- var keyWords = "aguacate, aguacatekun, santo, domingo, republica, dominicana"
- var viewPort = true

doctype html
html
	head
		include jade/metatags
		link(href="css/style.css", rel="stylesheet")
		
	body.night
		aside.cover
		header
		nav.hour
			button.clock: img(src="img/clock.png")
			ul
				li: button.night: img(src="img/night.png")
				li: button.sunset: img(src="img/sunset.png")
				li: button.day: img(src="img/day.png")

		.city
			.sky_section
				.planes.p01
				.planes.p02
				.planes.p03

			a.informatica
			a.aeropuerto
			a.arte
			a.banco
			a.bomberos
			a.cocinita
			a.construccion
			a.farmacia
			a.supermercado
			a.teatro
			a.base
				.city_gate

			.gate_section
				.gate
				.car

		.ground

		script(src="js/avoRights.js")
		script(src="js/vendor/jquery-1.11.2.min.js")
		script(src="js/floatingObjects.js")